@font-face {
  font-family: 'logo';
  src:
    url('../fonts/logo.ttf?ha7i2x') format('truetype'),
    url('../fonts/logo.woff?ha7i2x') format('woff'),
    url('../fonts/logo.svg?ha7i2x#logo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'logo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}
