* {
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 12093px;
    background-color: #0C0B08;
}
.header{
    width: 100%;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_style{
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
}
.menu_items{
    display: inline;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin-left: 16px;
}
.menu_items a{
    padding: 12px 16px;
    text-decoration: none;
}
.menu_items:nth-child(5){
    margin-right: 16px;
}
.logo{
    font-size: 44px;
    margin: 0% 15.625% 0% 0%;
    color: white;
}
.login{
    text-decoration: none;
    color: #fff;
    padding-left: 300px;
    font-weight: 600;
}
.line{
    width: 1px;
    height: 57px;
    background: linear-gradient(#000, #fff, #000);
    margin: 0% 3% 0% 3%;
}
.tablebook{
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}
.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 87.5%;
    height: 750px;
    padding: 0% 6.25% 0% 6.25%;
}
.content{
    display: flex;
    align-items: center;
    width: 66.6%;
    height: 736px;
    padding: 0% 7% 0% 14.5%;
}
.podcontent{
    width: 453px;
    height: 481px;
}
.description{
    min-height: 481px;
}
.updesk{
    font-family: "Cormorant Upright";
    color: #fff;
    font-size: 23px;
}
.desk_text{
    font-family: "Cormorant Upright";
    display: block;
    color: #DCCA87;
    font-size: 89.5px;
    line-height: 130%;
    margin: 22px 0px 22px 0px;
}
.downdesk{
    color: #AAAAAA;
}
.explore_button{
    width: 40%;
    background-color: #DCCA87;
    margin-top: 32px;
    border: 0;
}
.explore_text{
    display: block;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 700;
    color: #0C0B08;
    line-height: 175%;
    text-decoration: none;
    font-family: "Cormorant Upright";
    font-display: swap;
}
.hero_block{
    position: relative;
    width: 85%;
    margin-right: 10%;
}
.heroimg{
    position: relative;
    width: 92%;
    height: 688px;
    margin: 4% 4% 4% 4%;
    background-image: url(../img/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.rectangle_hero1{
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: #DCCA87;
    right: 0;
}
.rectangle_hero2{
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: #DCCA87;
    left: 0;
    bottom: 0;
}
a{
    text-decoration: none;
}
.slider{
    padding-top: 1.5%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_num{
    padding: 8px;
    color: white;
}
.slider_line{
    width: 16px;
    height: 1px;
    background-color: #DCCA87;
}
.scroll_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: absolute;
    right: 4%;
    padding-bottom: 80px;
}
.scroll_block{
    display: block;
}
.scroll_line{
    width: 1px;
    height: 61px;
    background: linear-gradient(#DCCA87, #DCCA87, #665E3F);
    margin-bottom: 24px;
}
.scroll_text{
    font-weight: 700;
    color: #DCCA87;
    font-family: 'Cormorant Upright';
    padding: 120px 10px 10px 10px;
}
.about{
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 150px;
    width: 100%;
    height: 959px;
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.knife{
    position: absolute;
    width: 84px;
    height: 703px;
    background: url(../img/knife.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.G{
    position: absolute;
    width: 391px;
    height: 415px;
    background: url(../img/G.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 64px;
    color: #DCCA87;
    padding-bottom: 30px;
}
.content_text{
    color: #AAAAAA;
    margin-bottom: 7%;
}
.button{
    width: 20%;
    background-color: #DCCA87;
    padding: 16px 32px;
    text-align: center;
    
}
.about_us{
    width: 523px;
    height: 300px;
    position: relative;
    text-align: right;
}
.our_history{
    width: 523px;
    height: 300px;
    position: relative;
    margin-left: 14%;
    text-align: left;
}