* {
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 12093px;
    background-color: #0C0B08;
}
.header{
    width: 100%;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_style{
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
}
.menu_items{
    display: inline;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin-left: 16px;
}
.menu_items a{
    padding: 12px 16px;
    text-decoration: none;
}
.menu_items:nth-child(5){
    margin-right: 16px;
}
.logo{
    font-size: 44px;
    padding: 0% 15.625% 0% 0%;
    color: white;
}
.login{
    text-decoration: none;
    color: #fff;
    padding-left: 300px;
    font-weight: 600;
}
.line{
    width: 1px;
    height: 57px;
    background: linear-gradient(#000, #fff, #000);
    margin: 0% 3% 0% 3%;
}
.tablebook{
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}
.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 87.5%;
    height: 828px;
    padding: 0% 6.25% 0% 6.25%;
}
.content{
    display: flex;
    align-items: center;
    width: 66.6%;
    height: 736px;
    padding: 0% 14.5% 0% 14.5%;
}
.podcontent{
    width: 453px;
    height: 481px;
}
.description{
    min-height: 481px;
}
.updesk{
    font-family: "Cormorant Upright";
    color: #fff;
    font-size: 23px;
}
.desk_text{
    font-family: "Cormorant Upright";
    display: block;
    color: #DCCA87;
    font-size: 89.5px;
    line-height: 130%;
    margin: 22px 0px 22px 0px;
}
.downdesk{
    color: #AAAAAA;
}
.explore_button{
    width: 40%;
    background-color: #DCCA87;
    margin-top: 32px;
    border: 0;
}
.explore_text{
    display: block;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 700;
    color: #0C0B08;
    line-height: 175%;
    text-decoration: none;
    font-family: "Cormorant Upright";
    font-display: swap;
}
.heroimg{
    width: 100%;
    height: 636px;
    background-image: url(../img/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}